/* element */

//image path
$publicPath: "../../../public";
//type h tag size
$hTagsStyle: ( "h1": 42px, "h2": 36px, "h3": 30px, "h4": 24px, "h5": 18px, );

/* Background styles */

$backgroundHeader: #333333;

/* Text styles */

$fontWeight: 300;